body {
  width: 500px;
  margin: auto;
}

#game_board{
  tr{
    td{
      text:{
        align: center;
      }
      border: .01em solid black;
      font-size: 100px;
      width: 150px;
      height: 150px;
    }
  }
}
